# Ignore the virtual environment folder
venv/

# Ignore compiled Python files
__pycache__/

# Ignore config files with sensitive data
config.json

# Negeer de lokale export files
export/*.csv

# Negeer de testdata python file
testdata.py

# Negeer de testdata csv file
data/test_entries.csv

# Negeer de andere testdata csv file
data/test_advices.csv