# Ignore the virtual environment folder
venv/

# Ignore compiled Python files
__pycache__/

# Ignore config files with sensitive data
config.json

# Negeer de lokale database files
applicatie/data/*.db

# Negeer de lokale export files
applicatie/export/*.csv

# Negeer de testdata python file
applicatie/testdata.py

# Negeer de testdata csv file
applicatie/data/test_entries.csv

# Negeer de andere testdata csv file
applicatie/data/test_advices.csv