<!DOCTYPE html>
<html lang="en">
<head>
    <title>Manage Your Habits</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            
        </div>
        <div  class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'landing_page' %}">Home</a>
                <a href="{% url 'habit_list' %}" class="navbar-item">Habits</a>
                <a href="{% url 'manage_habits' %}" class="navbar-item">Manage Habits</a>
                <a href="{% url 'calendar' %}" class="navbar-item">Calendar</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">Manage Your Habits</h1>
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for habit in habits %}
                    <tr>
                        <td>{{ habit.name }}</td>
                        <td>{{ habit.description }}</td>
                        <td>
                            <a href="{% url 'edit_habit' habit.id %}" class="button is-small is-info">Edit</a>
                            <form method="post" action="{% url 'manage_habits' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="habit_id" value="{{ habit.id }}">
                                <button type="submit" name="delete_habit" class="button is-small is-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_habit' %}" class="button is-primary">Add New Habit</a>
            <a href="{% url 'manage_categories' %}" class="button is-info">Manager</a>
        </div>
    </section>
</body>
</html>
