<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Welcome to the Mental Health Hub</h1>
        <p class="subtitle">Choose one of the options below to get started:</p>

        <div class="buttons">
            <a href="{% url 'entry_list' %}" class="button is-primary">View Entries</a>
            <a href="{% url 'habit_list' %}" class="button is-primary">View Habits</a>
            <!-- Voeg meer links toe hier -->
        </div>
    </div>
</section>
</body>
</html>
